:root{
    --light-green: #B8D6DC;
    --green: #5FC7AC;
    --light-gray: #EFF1F4;
    --gray: #8A8787;
    --no-progress: #E1E6EC;

}

.content{
    margin-top: 2rem;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 496px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line2{
    display: flex;
    gap: 1.5rem;
}

.postal, .road, .sub-district, .district{
    width: 100%;
}

textarea::placeholder{
    color: #8A8787;
}

textarea[type="text"]{
    color: #000 !important;
    resize: none;
}

.line2 input[type="number"]{
    color: #000 !important;
}

textarea:focus{
    background-color: #DCEBEE !important;
    outline: none;
}

.line2 input::placeholder{
    font-size: 1rem;
}

.content .line1:hover .tool, 
.road:hover .tool, .postal:hover .tool,
.sub-district:hover .tool, .district:hover .tool,
.dropdown_2:hover .tool{
    display: block;
}

.dropdown_1{
    display: flex;
    gap: 1.5rem
}

.content {
    color: #000;
}

textarea:not(:placeholder-shown){
    background-color: #a9e6d9 !important;
}

.tool{
    font-family: SFCompactBold;
    font-size: 14px !important;
    padding: 10px;
    position:absolute;
    width: auto;
    border-radius: 10px 10px 10px 0px;
    background-color: var(--green);
    color: #fff;
    margin: -50px;
    transform-style: preserve-3d;
    z-index: 200;
    font-size: 0.9rem;
    margin-left: 1rem;
    display: none;
}