*{
    margin: 0;
    padding: 0;
}

*,::before,::after{
    box-sizing: border-box !important;
}

:root{
    --light-green: #B8D6DC;
    --green: #5FC7AC;
    --light-gray: #EFF1F4;
    --gray: #8A8787;
    --no-progress: #E1E6EC;
}

html {
    scroll-behavior: smooth;
}

.navBar{
    height: 64px
}

body{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: #000;
    background-color: #F9F5F5;
}

ul{
    list-style: none;
}

strong{
    font-family: SFCompactSemi;
}

.container{
    max-width: 1300px !important;
    margin: 0 auto;
    padding: 0 1em;
}

.outer{
    margin-top: 3em;
    border-radius: 1.0em;
    padding: 4em 2em;
    background-color: #ffff;
}

.head-item{
    margin-bottom: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-item .logo{
    font-size: 1.5em;
}

.head-item .logo strong{
    color: #5FC7AC;
}

.head-item a {
    text-decoration: none;
    color: inherit;
}

.head-item .time-left{
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 1.2;
    font-family: SFCompactMed;
    color: black;
}

.payment, .payment :where(.field > div:not(.card-number), .card-expiration .input){
    display: flex;
    align-items: center !important;
}

.payment{
    flex-direction: column-reverse;
    gap: 4em;
}

.payment .field > div{
    margin-bottom: 2.5em;
    flex-direction: column !important;
    align-items: stretch;
}

.payment .field > div:not(.card-number) > div{
    flex: 1 0 50%;
    margin: 0.5em 0;
}

.left p{
    font-size: 18px;
    text-align: left;
}

.left span {
    color: #B8B8B8;
}


.payment .left input , select{
    font-family: SFCompactSemi;
    font-size: 18px;
    padding: 0 1em !important;
    height: 58px;
    border-radius: 8px !important;
    background-color: var(--light-gray) !important;
    border: 3px solid var(--light-gray) !important;
    outline-color: transparent;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.payment .left input::placeholder{
    font-family: inherit;
    letter-spacing: 2px;
    font-size: 16px;
    color: var(--gray);
    opacity: .5;
}

.payment .left input:focus, select:focus{
    border-color: var(--green) !important; 
    background-color: #DCEBEE !important;
}

.payment .card-number-box{
    position: relative;
    margin-top: 1em;
}
.payment .card-number-box input{
    padding: 0 4em !important;
}
.payment .card-number-box input::placeholder{
    font-size: inherit;
}
.payment .field .cc-logo{
    position: absolute;
    top: 50%;
    left: 1.2em;
    margin-top: -10px;
}
.payment .cc-logo::before, .payment .cc-logo::after{
    content: "";
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef233c;
}
.payment .cc-logo::after{
    background-color: #f79e1c;
    margin-left: -7px;
    opacity: 0.75;
}
.payment .card-expiration .input_exp{
    display: flex;
    gap: 10%;
    align-items: center;
}
.payment .card-expiration input{
    text-align: center;
}
.payment .field .pay{
    font-size: 20px;
    font-family: SFCompactSemi;
    border: 0;
    background-color: var(--green);
    color: white;
    line-height: 58px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.payment .field button:hover{
    background-color: #4DB69B;
}

.payment .right{
    max-width: 380px;
    width: 100%;
}
.payment .card-virtual{
    position: relative;
    margin: 0 2em -5em;
    padding: 2em;
    line-height: 2em;
    font-size: 20px;
    font-family: SFCompactMed;
    color: white;
    background-color: #000;
    border-radius: 10px;
    box-shadow: rgb(43 45 66 / 30%) 0 20px 30px;
    z-index: 1;
    overflow: hidden;
}

.payment .card-cover{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background: rgba(6,2,29,0.45);
    z-index: -1;
}

.payment .card-virtual .cc-logo{
    position: relative;
    bottom: 60px;
    transform: scale(6);
    text-align: center;
}

.payment .card-virtual .name-holder{
    margin: 4em 0 0;
    font-family: SFCompactSemi;
    max-width: 100%;
    overflow: hidden;
    font-size: 18px;
    text-align: start;
    text-overflow: ellipsis;
}

.payment .chip{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 -1.5em -1.5em;
}

.payment .chip svg{
    width: 55px;
    height: 100%;
    margin-top: 0.5em;
    padding-right: 10px;
}

.payment .card-virtual .highlight{
    position: relative;
    height: auto;
    margin: 1.5em -2em -2em;
    background: linear-gradient(0deg, rgba(141,153,174,1) 45%, rgba(255,255,255,0) 100%);
    border-radius: 0 0 10px 10px;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.5em;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.highlight .last-digit{
    font-family: SFCompactMed;
    font-size: 20px;
    opacity: 1;
}

.highlight .expiry{
    font-family: SFCompactMed;
    font-size: 16px;
    opacity: 1;
}


.payment .right .receipt{
    position: relative;
    padding: 9em 2em 2em;
    border-radius: 10px;
    background-color: #edf2f4;
}
.payment .right .receipt ul li {
    display: flex;
    justify-content: space-between;
    line-height: 3em;
    border-bottom: 1px dotted #8d99ae;
}

.payment .right .receipt ul li span:first-child{
    color: #8d99ae;
}

.payment .right .receipt ul li span:last-child{
    font-family: SFCompactSemi;
}

.payment .right .receipt .total{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1em;
}

.payment .receipt .total .price{
    font-size: 24px;
    font-family: SFCompactSemi;
    margin-bottom: 10px;
}

.payment .right .receipt .total > p:not(.price){
    font-family: SFCompactMed;
    font-size: 14px;
}

.input_exp select{
    width: 100%;
}

.select{
    color: #B4B4B5;
}

.selected{
    color: #000;
}

.products{
    color: var(--green);
}

#exp-month:required:valid, #exp-year:required:valid{
    background-color: var(--light-gray) !important;
    background-color: var(--light-gray) !important;

}



@media screen and (min-width: 576px){
    .outer{
        padding: 4em;
    }
    .payment .field > div{
        flex-direction: row !important;
    }
    .payment .field > div .text{
        padding-right: 1em;
    }
}

@media screen and (min-width: 992px) {
    .head-item{
        max-width: 70%;
        padding-right: 4em;
        margin-bottom: 0;
    }
    .payment{
        flex-direction: row;
        gap: 0;
    }
    .payment .left{
        flex: 1 0 65%;
        padding-right: 4em;
    }
    .payment .right{
        flex: 1 0 35%;
        align-self: flex-end;
    }
}


/*Popup*/

.popup.active .overlay, .popup.active .model-box{
    opacity: 1;
    pointer-events: auto;
}

.popactive .model-box{
    transform: translate(-50%, -50%) scale(1);
}

.popup{
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}
.model-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    max-width: 450px;
    padding: 20px 30px;
    width: 100%;
    height: 35%;
    border-radius: 24px;
    background-color: #fff;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.model-box svg{
    margin-top: 20px;
    font-size: 70px;
    color: var(--green);
}
.model-box h2{
    font-family: SFCompactSemi;
    margin-top: 20px;
    font-size: 2.5em;
    color: #333;
}
.model-box h3{
    margin-top: 20px;
    text-align: center;
    font-family: SFCompactMed;
    font-size: 16px;
    color: #333;
}

.buttons{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.buttons button{
    border: none;
    line-height: 50px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
}

.buttons .keep-btn{
    margin-right: 20px;
    background: var(--green);
    color: #fff;
}

.keep-btn:hover{
    scale: 0.96;
    background: #4DB69B;
}

.close-btn{
    background: #ff7878;
    color: #fff;
}

.close-btn:hover{
    scale: 0.96;
    background: #df6868;
}