@font-face {
    font-family: 'SFCompact';
    src: url(../../font/SF-Compact-Rounded-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'SFCompactMed';
    src: url(../../font/SF-Compact-Rounded-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'SFCompactSemi';
    src: url(../../font/SF-Compact-Rounded-Semibold.ttf);
    font-size: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'SFCompactBold';
    src: url(../../font/SF-Compact-Rounded-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

:root{
    --light-green: #B8D6DC;
    --green: #5FC7AC;
    --light-gray: #EFF1F4;
    --gray: #8A8787;
    --no-progress: #E1E6EC;

}

*{
    font-family: SFCompactSemi;
}

#root{
    height: max-content;
}

.container{
    height: 100%;
    margin: 0 auto;
}

.col-lg-5{
    height: 70%;
    display: flex;
}



.p{
    font-family: SFCompactMed;
    font-size: clamp(20px, 2.5vw, 24px);
    color: #575757;

}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
}

.progress-container::before{
    content: "";
    background-color: var(--no-progress) !important; 
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}


.progress{
    background-color: var(--green) !important; 
    width: 0%;
    max-height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 3px solid var(--no-progress);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

.circle.active{
    border: 0;
    background-color: var(--green);
}

.circle.active span{
    color:#fff;
}

.btn-set{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    transition: all 0.6s ease-in-out;
}

.wrap{
    margin: 3%;
}

.btn{
    background-color: var(--green) !important;
    width: 160px;
    height: 59px;
    color: #fff !important;
    border: 0;
    font-family: SFCompactBold !important;
    font-size: clamp(18px, 2.5vw, 20px);
}

.btn:focus {
    outline: 0;
}

.btn:active{
    transform: scale(0.97);
}

.btn:disabled{
    border: 0;
    background-color: #cbd2da  !important;
    color: rgba(0, 0, 0, 0.867)!important;
}

.btn:disabled, .wrap{
    cursor: not-allowed; 
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 512 512' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'><path d='M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z'></path></svg>") no-repeat;
    background-position: right 5px top 50%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0px 20px 0px;
}

.head{
    font-family: SFCompactSemi;
    font-size: clamp(30px, 2.5vw, 40px);
    margin-bottom: 10px;
}

.sub-head{
    font-family: SFCompactMed;
    font-size: clamp(16px, 2.5vw, 20px);
    color: #AFBAC6;
    margin-bottom: 5px;
}

.skip{
    text-align: center;
    text-decoration: none;
    font-family: SFCompactSemi;
    font-size: clamp(14px, 2.5vw, 16px);
    color: var(--gray);
    opacity: 0.62;
}

.skip-hidden {
    display: none;
}

.skip:hover{
    color: var(--gray);
    transform: scale(0.9);
}

input, .form-control{
    background-color: var(--light-gray) !important;
    border: 0 !important;
    padding: 20px !important;
    border-radius: 8px !important;
}

input[type="text"]{
    font-family: SFCompactSemi;
    color: #000 !important;
    font-size: clamp(16px, 2.5vw, 18px);
}

input::placeholder{
    color: #8A8787 !important;
}

.page1 {
    height: 560px;
    justify-content: space-between;
    transition: all 0.6s ease-in-out;
}

.page2 {
    transition: all 0.6s ease-in-out;
    justify-content: space-between;
    margin-bottom: -100px;
    margin-top: -50px;
}

.page3 {
    transition: all 0.6s ease-in-out;
}

.page-left {
    transform: translateX(-250%);
}

.page-right {
    transform: translateX(250%);
}

.page-disable {
    display: none;
}

.Information{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.form-control{
    height: 70px;
    color: var(--gray) !important;
}

.selected{
    background-color: #a9e6d9 !important;
    color: #000 !important;
}

input:focus{
    background-color: #DCEBEE !important;
    outline: none;
}

select:focus{
    background-color: #DCEBEE !important;
    outline: none;
}

input:not(:placeholder-shown){
    background-color: #a9e6d9 !important;
}

.navBar{
    height: 64px;
}

.col-lg-5 .form:hover .tool{
    display: flex;
}

.tool{
    font-family: SFCompactBold;
    font-size: 14px !important;
    padding: 10px;
    position:absolute;
    width: auto;
    border-radius: 10px 10px 10px 0px;
    background-color: var(--green);
    color: #fff;
    margin-top: -10px;
    transform-style: preserve-3d;
    z-index: 200;
    font-size: 0.9rem;
    margin-left: 6rem;
    display: none;
}