@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-green: #b8d6dc;
  --extra-light-green: #dae8ec;
  --green: #5fc7ac;
  --input-pass: #a9e6d9;
  --light-gray: #eff1f4;
  --bg-light-green: #f4f7f9;
  --gray: #8a8787;
  --alert: #dd4949;

  --input-height: 70px;
  --btn-google: 81px;
  --icon-google: 30px;

  --section-top: 8vh;
}

.section {
  height: 100%;
  display: flex;
  justify-content: center;
}

.section-flex {
  max-width: 610px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--section-top);
}

@media screen and (max-width: 1800px) {
  body {
    overflow: hidden;
  }
  .col-lg-5 {
    margin-top: 20px;
  }
}

p {
  font-family: SFCompactBold;
  font-size: clamp(24px, 2.5vw, 32px);
  text-align: center;
}

.btn-signUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--light-green);
  height: var(--btn-google);
  border-radius: 8px;
  text-decoration: none;
  color: black;
  margin: 10px 0;
  font-size: clamp(16px, 2.5vw, 18px);
}

.btn-signUp:hover {
  background-color: var(--green);
  color: white;
  transition: 0.2s ease-in-out;
}

.btn-signUp .icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-color: #ffff;
  border-radius: 50%;
  width: calc(var(--icon-google) + 5px);
  height: calc(var(--icon-google) + 5px);
  border: 3px solid #fff;
}

.btn-signUp .icon-img svg {
  font-size: var(--icon-google);
}

.alternative {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.alternative span {
  margin: 20px 20px;
  font-family: SFCompactSemi;
  font-size: clamp(18px, 2.5vw, 20px);
  color: #cfd3d7;
}

.line {
  height: 0;
  width: calc(100% - 55%);
  border: 2px solid #cfd3d7;
  opacity: 0.6;
  border-radius: 2px;
}

.input {
  display: flex;
  margin-bottom: 15px;
}

.input input {
  width: 100%;
  height: var(--input-height);
}

.input input[type="email"] {
  font-size: clamp(16px, 2.5vw, 18px);
}

.input input[type="password"] {
  font-size: clamp(16px, 2.5vw, 18px);
}

.section-flex .input input[type="email"]:required:invalid {
  background-color: rgba(248, 187, 187, 0.867);
}

.section-flex .input input[type="email"]:required:valid {
  background-color: var(--input-pass) !important;
}

#confirmPassword:not(:placeholder-shown) {
  background-color: var(--input-pass) !important;
}

.submit {
  border: none;
  display: flex;
  height: var(--input-height);
  background-color: var(--green);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.submit span {
  font-family: SFCompactSemi;
  font-size: clamp(16px, 2.5vw, 20px);
  color: #fff;
}

.submit:hover {
  box-shadow: 0px 11px 5px -3px rgba(67, 194, 106, 0.18);
  transition: 0.2s ease-out;
}

.error.active {
  opacity: 1;
  transition: 0.2s ease;
}

.error.hidden {
  display: none;
}

.error {
  opacity: 0;
  padding: 10px 30px;
  background-color: #fbebeb;
  border-radius: 5px;
  border: 3px solid #e37575;
  margin-bottom: 30px;
  transition: 0.2s ease;
}

#errorSpan .icon::before {
  margin-right: 10px;
  content: "\f057";
  font-family: FontAwesome;
  font-size: 1.5rem;
}

.error #errorSpan {
  display: flex;
  align-items: center;
  font-family: SFCompactSemi;
  font-size: clamp(18px, 0.2vw, 20px);
  color: #dd4949;
}

.account {
  text-align: center;
  text-decoration: line;
  text-decoration-color: #079569;
  color: #079569;
  font-family: SFCompactSemi;
  margin-top: 2.5vh;
  font-size: clamp(14px, 2.5vw, 18px);
}

.checkmark {
  background: var(--green)
    url(http://www.clker.com/cliparts/d/y/5/L/2/m/white-check-mark.svg.hi.png)
    center/2000% no-repeat;
  transition: 0.2s ease;
}

.createAccount:hover {
  color: #83cab4;
  text-decoration: none;
}

.register {
  display: inline;
  justify-content: flex-start;
}

.account:hover {
  color: var(--green);
  text-decoration: none;
}

.about {
  text-align: center;
  font-family: SFCompactSemi;
  font-size: clamp(12px, 2.5vw, 15px);
  color: rgba(154, 154, 154, 0.867);
  width: 96%;
  margin-top: 1.3vh;
}

.form {
  position: relative;
}

#show-password {
  position: absolute;
  right: 20px;
  top: 35%;
  cursor: pointer;
}

.information.active {
  opacity: 1;
  transition: 0.2s ease;
}

.information.hidden {
  display: none;
}

.information {
  display: flex;
  opacity: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  background-color: #fbebeb;
  border: solid 3px #e37575;
  border-radius: 10px;
  color: var(--alert);
  gap: 10px;
  transition: 0.2s ease-in-out;
  padding: 1.5rem;
}

.information.pass {
  border-color: var(--green);
  background-color: var(--bg-light-green);
}

.information li.complete .iconCheck::before {
  content: "";
  transition: 0.1s ease;
}

input.not-pass {
  background-color: #fbebeb;
}

input.pass {
  background-color: var(--input-pass) !important;
}

.information li.complete {
  color: var(--green);
  transition: 0.1s ease;
}

.information span ~ span {
  font-size: 20px;
  margin-left: 5px;
  font-family: "SFCompactMed";
}

.iconCheck::before {
  content: "";
  font-family: FontAwesome;
  font-size: 20px;
  transition: 0.1s ease;
}

#show-password svg {
  font-size: 20px;
}

@media screen and (max-width: 428px) {
  .error {
    padding: 5px 20px;
  }
}

@media screen and (max-width: 390px) {
  :root {
    --input-height: 50px;
    --btn-google: 60px;
    --icon-google: 20px;
  }

  .alternative {
    margin: 5px 0;
  }

  .information {
    position: absolute;
    left: 7%;
  }

  .iconCheck::before {
    font-size: 16px;
  }

  .information span ~ span {
    font-size: 16px;
  }

  .error {
    padding: 5px 20px;
  }

  #errorSpan .icon::before {
    margin-right: 15px;
  }

  .error-access-limit {
    padding: 0;
  }

  #errorSpan span {
    font-size: 15px;
  }
}

.login-email.Error,
.login-password.Error {
  border: solid 3px #e37575 !important;
  background-color: #fbebeb !important;
}

.login-email:not(:placeholder-shown),
.login-password:not(:placeholder-shown) {
  background-color: var(--input-pass) !important;
}

@media screen and (max-width: 320px) {
  :root {
    --section-top: 5vh;
    --btn-google: 55px;
  }

  .btn-signUp {
    margin: 5px 0;
  }

  .alternative {
    margin: 0;
  }

  .alternative span {
    margin: 15px 20px;
  }

  .head {
    margin-bottom: 5px !important;
  }

  .head p {
    margin-bottom: 10px;
  }

  .information {
    left: 5px;
  }
}
